# Flask gizli anahtar
SECRET_KEY=

# Gmail SMTP için
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Groq API anahtarı
GROQ_API_KEY=

# Veritabanı yolu (isteğe bağlı)
DATABASE_PATH=

# Admin kullanıcı adı ve şifresi
ADMIN_USERNAME =
ADMIN_PASSWORD =""

# TESSERACT dizini
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe